
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-up">
          <h2>Canales</h2>
          <p>Encuentra a tus creadores de contenidos favoritos, aquí en StromZu.com</p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
            <li>
              <button id="vueltaInicio" class="btn btn-outline-success h-100" type="submit">Volver a inicio</button>
            </li>
              <li data-filter="*" class="filter-active">
                <input id="buscador" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </li>
            </ul>
          </div>
        </div>



        <div id="bloqueCanales" class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    
        </div>
    </div>
</section>  